body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Nav {
  background-color: rgb(14, 7, 52);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  position: sticky;
  text-decoration: none;
}
.candless {
 display: grid;
 grid-template-areas: "k k k";
 gap: 70px;
}
main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #8957ab;
}
button a {
  color: rgb(130, 75, 5);
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #3d0f65;
}